extends layout

block content
  div(class='container mt-1-5')
    div(class='row')
      div(class='col-md-6')
        form(action='/api/bikes/store' method='POST')
          .form-group
            label(for='id') ID:
            input#id.form-control(type='number', name='id')
          .form-group
            label(for='modelo') Model:
            input#modelo.form-control(type='text', name='modelo')
          .form-group
            label(for='color') Color:
            input#color.form-control(type='text', name='color')
          .form-group
            label(for='lat') Latitude:
            input#lat.form-control(type='text' name='lat')
          .form-group
            label(for='lng') Longitud:
            input#lng.form-control(type='text' name='lng')

          button.btn.btn-primary(type='submit') Send
          a.btn.btn-danger(href='/' class='ml-1') Back
      div(class='col-md-6')
        <div id="map"></div>
    

